<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing users</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1><a href="/user/add">Add a new User</a></h1>
    <table>
        <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email id</th>
    </tr>
    <tr>
       <% for(user of users) { %>

        <td><%=user.id %></td>
        <td><%=user.username %></td>
        <td><%=user.email%></td>
        <td>
            <form method="get" action= "http://localhost:8080/user/<%=user.id%>/edit">
                <button>Edit username</button>
            </form><br>
            <form method="get" action= "http://localhost:8080/user/<%=user.id%>/delete">
                <button>Delete user</button>
            </form>
        </td>
 
    </tr>
    <%  }%>

    </table>
    
</body>
</html>